name: Update YAML on Merge to Main

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  create-deployment-pr-if-merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47 pinned
        with:
          files: template.tpl

      - name: sanitize PR title
        id: sanitize_title
        run: |
          sanitized_title=$(echo "${{ github.event.pull_request.title }}" | tr -d '\n' | sed 's/"/\\"/g' | sed 's/`/\\`/g')
          echo "sanitized_title=$sanitized_title" >> $GITHUB_OUTPUT


      - name: Update YAML File
        if: steps.changed-files.outputs.any_modified == 'true'
        run: |
          new_entry="  - sha: ${{ github.event.pull_request.merge_commit_sha }}\n    changeNotes: |2\n      ${{ steps.sanitize_title.outputs.sanitized_title }}"
          sed -i "/# Latest version/a\\$new_entry" metadata.yaml

      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v5
        if: steps.changed-files.outputs.any_modified == 'true'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Update metadata.yaml with latest changes from `${{ github.event.pull_request.head.ref }}` branch"
          branch: update-yaml-version
          delete-branch: true
          body: |
            This pull request updates the YAML file with the latest commit hash and the pull request title from the `${{ github.event.pull_request.head.ref }}` branch.
          title: "Deploy changes from `${{ github.event.pull_request.head.ref }}` branch to the GTM gallery"
          base: main
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>

      - name: Slack notification - Deployed
        uses: slackapi/slack-github-action@v1.23.0
        if: steps.changed-files.outputs.any_modified == 'true'
        with:
          channel-id: 'C03KN9Q2S7P'
          payload: |
            {
              "text": "*journifyio-browser-gtm repository* :wave: <!subteam^S05G4KRJWNR> A Pull Request has been created to deploy changes from the branch `${{ github.event.pull_request.head.ref }}` on to the GTM browser templates gallery: ${{ steps.create_pr.outputs.pull-request-url }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
